.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.fst-italic {
  font-style: italic !important;
}

.display-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}

:root {
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

/* Asegúrate de que tu sección principal se llame 'hero' o usa la etiqueta 'main' */
.heroBlock, main {
    margin-top: 0 !important; /* Fuerza a quitar el espacio de arriba */
    padding-top: 0; /* A veces el padding también separa */
    
    /* Opcional: Si quieres que la imagen del hero toque el header perfectamente */
    display: block; 
}

.hero-img {
  background-image: linear-gradient(rgba(64, 135, 85, 0.9), rgba(64, 135, 85, 0.8)), url("/Users/ami/Documents/web design/Ecolombriz/ecolombriz/src/2147625853.jpg");
}


/* También reseteamos el body por si acaso el navegador agrega margen */
body {
    margin: 0;
    padding: 0;
}
